# data and files from R and R projects
.Rproj.user
.RData
.Rhistory
*.Rproj
*.Rproj.user


# Generated figures 
/figures

# Generated Sequencing Data
Seq_Sim/gen_seq_data
Seq_Sim/config.yaml
Seq_Sim/exp.ipynb
Seq_Sim/notes.md
*.csv
*.log

# Generated cache files from running the code
__pycache__
.pytest_cache
.DS_Store

.vscode/launch.json
.vscode/settings.json
.coverage
