# Include the README file
include README.md

# Include the YAML environment file
include env.yml

# Include the license file
include LICENSE

# Include all Python source files
recursive-include SOM *.py

# Include any data files in the package
recursive-include data *

# Include CODE_OF_CONDUCT.md
include CODE_OF_CONDUCT.md

# Include CONTRIBUTING.md
include CONTRIBUTING.md

# Exclude unnecessary files
prune tests/__pycache__
prune __pycache__
prune SOM/utils/__pycache__
prune Seq_Sim/__pycache__
prune Seq_Sim/utils/__pycache__
prunt .pytest_cache
